.labelouputview{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.stacktxtlabel{
    -fx-background-color: #857d7d;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-padding: 2px;
    -fx-text-alignment: right;

}
.stackoutputlabel{
    -fx-background-color: #857d7d; /* Colore sfondo */
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-padding: 5px; /* Spazio interno */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-text-fill: #000000; /* Colore del testo */
    -fx-alignment: center; /* Allineamento del testo al centro */
    -fx-wrap-text: true; /* Testo a capo automatico */

}
.calcFunctionBox > .button{
    -fx-border-color: #002372;
    -fx-border-width: 5px;
    -fx-border-radius: 75%;
    -fx-background-radius: 75%;
    -fx-background-color: #14213D;
    -fx-text-fill: white;
}
.stackFunctionPane > .button:hover{
    -fx-opacity: 0.90;
}
.stackFunctionPane > .button:pressed{
    -fx-opacity: 0.5;
}
.stackFunctionPane > .button {
    -fx-border-color: #ffb846;
    -fx-border-width: 5px;
    -fx-border-radius: 75%;
    -fx-background-radius: 75%;
    -fx-text-fill: white;
    -fx-background-color: #FCA311;
}
.vargridpane > .button:hover{
    -fx-opacity: 0.90;
}
.vargridpane > .button:pressed{
    -fx-opacity: 0.5;
}
.vargridpane > .button {
    -fx-background-radius: 5%;
    -fx-background-color: #7e7a7a;
    -fx-text-fill: white;
}
.numbersgridpane > .button:hover{
    -fx-opacity: 0.90;
}
.numbersgridpane > .button:pressed{
    -fx-opacity: 0.5;
}
.numbersgridpane > .button {
    -fx-background-color: #7e7a7a;
    -fx-text-fill: white;
}
#enterButton:hover, #deleteButton:hover, #cancelButton:hover{
    -fx-opacity: 0.90;
}
#enterButton:pressed, #deleteButton:pressed, #cancelButton:pressed{
    -fx-opacity: 0.5;
}


